.blcokFour{
    display: flex;
    width: 100%;
    height: 1050px;
    justify-content: center;
    background-color: white;
}
.blockFour-inside{
    display: flex;
    max-width: 1440px;
    margin: auto 120px;
    flex-direction: column;
    text-transform: uppercase;
    padding: 50px 0;
}
.one,
.two,
.three,
.four,
.years,
.years-line,
.five,
.six,
.seven{
    display: flex;
    width: 100%;
    margin: 0%;
    border-bottom: 3px solid black;
}
.one{
    margin-top: 20px;
}
.one h2{
    
    font-size: 16px;
    font-family: 'Orbitron';
    font-weight: 600;
    line-height: 20px;
}
.two h2{
    font-size: 65px;
    font-family: 'Orbitron';
    font-weight: 800;
    line-height: 8px;
}
.three h2{
    font-size: 65px;
    font-family: 'Orbitron';
    font-weight: 800;
    line-height: 8px;
}
.five h2, 
.six h2,
.seven h2{
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 8px;
}
.four h2{
    display: flex;
    width: 60%;
    text-align: justify;
    font-size: 12px;
    font-family: 'Orbitron';
    font-weight: 600;
}