.header{
    display: flex;
    max-width: 1440px;
    margin: auto 120px;
    flex-direction: column;
    justify-content: center;
}
.header-block{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    
}
.nike-logo{
    display: flex;
    width: 10%;
    justify-content: flex-start;
}
.nav{
    display: flex;
    width: 60%;
    justify-content: center;

}
.navmenu{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.links{
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.search-box{
    display: flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
.search-input{
    outline:none;
    border: none;
    line-height: 40px;
    width: 0px;
    font-size: 1em;
    float: left;
    transition: 0.7s ease;
    background-color: white;
    color: #FB0223;
}
.search-input input{
    color: #0949EF;
}
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* background-color: red; */
    padding: 5px;
    border-radius: 50%;
    float: right;
    transition: 0.4s ease;
}

.search-box:hover > .search-input,
.search-input:focus{
    width: 200px;
    margin: 0px 8px;
}
.search-box:hover > .search-btn,
.search-input:focus + .search-btn{
    background-color: white;
    color: rebeccapurple;
}
.icons{
    display: flex;
    width: 20%;
    justify-content: flex-end;

}
.icons-inside{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.navmenu li {
    list-style: none;
}
.navmenu a{
    text-decoration: none;
    color: black;
}
.second{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.second-inside{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-family: 'Orbitron' ;
}
.second-inside ul{
    display: flex;
    width: 35%;
    padding: 0%;
    justify-content: space-evenly;
}

.second-inside a{
    text-decoration: none;
    color: black;
}
.aboutClass:hover{
    color: #FB0223;
}
.signupClass:hover{
    color: #0949EF;
}