.header{
    display: flex;
    max-width: 1440px;
    margin: auto 120px;
    flex-direction: column;
    justify-content: center;
}
.header-block{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-evenly;
    
}
.nike-logo{
    display: flex;
    width: 20%;
    justify-content: flex-start;
}
.nav{
    display: flex;
    width: 50%;
    justify-content: center;

}
.navmenu{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    width: 30%;
    justify-content: flex-end;

}
.icons-inside{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.navmenu li {
    list-style: none;
}
.navmenu a{
    text-decoration: none;
    color: black;
}
.second{
    display: flex;
    width: 100%;
    justify-content: center;
}
.second-inside{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    font-family: 'Orbitron' ;
}
.second-inside ul{
    display: flex;
    width: 38%;
    justify-content: space-evenly;
}

.second-inside a{
    text-decoration: none;
    color: black;
}