.title{
    display: flex;
    width: 100%;
    height: 1050px;
    flex-direction: column;
    justify-content: center;
    font-family: 'Orbitron';
    background-color: black;
}
.title_inside{
    display: flex;
    max-width: 1440px;
    margin: auto 120px;
    flex-direction: column;

}
.tittleOne,
.tittleTwo,
.tittleThree{
    display: flex;
    width: 100%;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid white;
}
.tittleOne h1{
    font-weight: 600;
    font-size: 16px;
}
.tittleTwo h2 {
    font-weight: 800;
    font-size: 65px;
    padding: 0%;
    margin: 0%;
}
.tittleThree h2 {
    font-weight: 800;
    font-size: 65px;
    padding: 0%;
    margin: 0%;
}
.tittleFour{
    display: flex;
    width: 58%;
    font-size: 10px;
    text-align: justify;
    color: white;
    text-transform: uppercase;
}
.products{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
    line-height: 22px;
}
.products img{
    width: 100%;
}
.grid{
    padding: 0 50px;
}

.products h3{
    opacity: 0.5;
    display: flex;
    width: 80%;
    text-align: justify;
}
.view{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
}
